<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>  
        <add name="TestDriven.Properties.Settings.rocketConnectionString" connectionString="Data Source=SOFTQUAL2\SQLEXPRESS;Initial Catalog=rocket;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="TestDriven.Properties.Settings.rocketdemoConnectionString" connectionString="Data Source=SOFTQUAL2\SQLEXPRESS;Initial Catalog=rocketdemo;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Mono.Cecil" publicKeyToken="0738EB9F132ED756" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.6.9.0" newVersion="0.6.9.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Db4objects.Db4o" publicKeyToken="6199CD4F203AA8EB" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.11.110.13604" newVersion="7.11.110.13604"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
